* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.Card1 {
  text-align: center;
  box-shadow: 7px 7px 25px black;
  
}
.Card1 h3{
  padding-top: .5rem;
  padding-bottom: .5rem
}
.Card1 h5{
  padding-bottom: .5rem
  
}
.Card1 img{
  width: 400px;
}
.Card2 {
  text-align: center;
  box-shadow: 7px 7px 25px black;

}
.Card2 h3{
  padding-top: .5rem;
  padding-bottom: .5rem
}
.Card2 h5{
  padding-bottom: .5rem
  
}
.Card2 img{
  width: 501px;
}
.Card3 {
  text-align: center;
  box-shadow: 7px 7px 25px black;

}
.Card3 h3{
  padding-top: .5rem;
  padding-bottom: .5rem
}
.Card3 h5{
  padding-bottom: .5rem
  
}
.Card3 img{
  width: 501px;
}

.Links1 {
  text-align: left;
  padding-left: .5rem;
  padding-bottom: .5rem;
}
.Links1 a{
  margin-left: 3rem;
}
.Links2 {
  text-align: left;
  padding-left: .3rem;
  padding-bottom: .5rem;
}
.Links2 a{
  margin-left: 3rem;
}
.Links3 {
  text-align: left;
  padding-left: 3rem;
  padding-bottom: .5rem;
}
.Links3 a{
  margin-left: 3rem;
}