* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text {
    background: gray;
    text-align: center;
    padding: 15px;
    margin: 20px;
    width: 400px;
    display: inline-block;
}
@media(max-height: 500px) and (max-width: 300px) {
    .text {
        font-size: 0.1rem;
        margin-bottom: 10px;
        width: 85vw;
        height: 10%;
    }
}